<!DOCTYPE html>
<html lang="pt-BR">

	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="author" content="Igor Felipe Boniatti">
	    <meta name="description" content="Protótipo de website para auxiliar vítimas de violência doméstica e familiar no município de Chapecó.">

	    <title><%= @publication.title %> - Projeto Maria da Penha Chapecó</title>

	    <%= stylesheet_link_tag 'bootstrap/bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
	    <%= stylesheet_link_tag 'home/index', media: 'all', 'data-turbolinks-track' => true %>
	</head>

	<body>
	    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	      <div class="container">
	        <a class="navbar-brand" href="<%= home_path %>">
	          <%= link_to(image_tag("logo_fundo_preto.png", :alt => "logo", :title => "Home"), home_path ) %>
	        </a>
	        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
	          <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse" id="navbarResponsive">
	          <ul class="navbar-nav ml-auto">
	            <li class="nav-item">
	              <a class="nav-link js-scroll-trigger" href="http://www.planalto.gov.br/ccivil_03/_Ato2004-2006/2006/Lei/L11340.htm" target="_blank">A LEI MARIA DA PENHA</a>
	            </li>
	            <li class="nav-item">
	              <a class="nav-link js-scroll-trigger" href="<%= doubts_path %>">TIRA-DÙVIDAS</a>
	            </li>
	            <li class="nav-item dropdown active">
	              <a class="nav-link js-scroll-trigger dropdown-toggle" id="navbarDropdownNews" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="<%= publications_path %>">PUBLICAÇÕES</a>
	              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownNews">
	                <a class="dropdown-item" href="<%= publications_path %>">NOTÍCIAS</a>
	                <a class="dropdown-item" href="<%= compromisso_e_atitude_path %>">COMPROMISSO E ATITUDE</a>
	                <a class="dropdown-item" href="<%= ministerio_publico_path %>">MINISTÉRIO PÚBLICO</a>
	              </div>
	            </li>
	            <li class="nav-item">
	              <a class="nav-link js-scroll-trigger" href="<%= institutes_path %>">REDES DE ATENDIMENTO</a>
	            </li>
	            <li class="nav-item dropdown">
	              <a class="nav-link js-scroll-trigger dropdown-toggle" id="navbarDropdownArchives" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="<%= archives_path %>">LINKS ÚTEIS</a>
	              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownArchives">
	                <a class="dropdown-item" href="<%= archives_path %>">TODOS OS ARQUIVOS</a>
	                <a class="dropdown-item" href="<%= vagas_path %>">VAGAS DE EMPREGO</a>
	                <a class="dropdown-item" href="<%= videos_path %>">VIDEOS</a>
	              </div>
	            </li>
	            <li class="nav-item dropdown">
	              <a class="nav-link js-scroll-trigger dropdown-toggle" id="navbarDropdownAbout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="<%= about_path %>">SOBRE O PROJETO</a>
	              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownAbout">
	                <a class="dropdown-item" href="<%= about_path %>">SOBRE</a>
	                <a class="dropdown-item" href="<%= game_path %>">GAME</a>
	              </div>
	            </li>
	          </ul>
	        </div>
	      </div>
	    </nav>

	    <div class="container" style="margin-top: 2%">
			<div class="row">
				<div class="col-lg-8">
					<h1 class="mt-4">
						<%= @publication.title %>						
					</h1>
					<hr>
					<h8>
						Autor: Projeto Maria da Penha | Data de publicação: <%= @publication.date %>							
					</h8>
					<hr>

					<%= @publication.content.html_safe %>

					<p id="notice"><%= notice %></p>

					<div class="card my-4">
						<h5 class="card-header">Deixe um comentário:</h5>
						<div class="card-body">
							<%= form_with model: Comentary.new, url: comentaries_url , method: :post do |form| %>	

								<div class="form-group">
									<%= form.text_area :content, class: 'form-control', rows: 4 %>
								</div>

								<%= form.hidden_field(:publication_id, value: @publication.id) %>

								<!-- <%= form.hidden_field(:date) %> -->

								<%= form.submit class: 'btn btn-primary btn-xl js-scroll-trigger' %>
							<% end %>
						</div>
					</div>

					<!-- COMENTÁRIOS -->
					<% if @publication.comentaries != nil then %> 
						<% @publication.comentaries.each do |comentary| %>
							<div class="media mb-4">
								<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
								<div class="media-body">
									<label class="form-control card-header">Comentado em: <%= comentary.created_at %></label>
									<label class="form-control card-body"><%= comentary.content %></label>					
								</div>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
	    </div>

  		<footer class="py-5 bg-dark">
	      <div class="container">
	        <p class="m-0 text-center text-white">
	          Projeto Maria da Penha Chapecó | Desenvolvido por <a href="https://instagram.com/ifboniatti" target="_blank">Igor Felipe Boniatti</a>. &copy; Todos os direitos reservados. 2018.
	        </p>
	      </div>
	    </footer>

  </body>

	<!-- Load Facebook SDK for JavaScript -->
	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = 'https://connect.facebook.net/pt_BR/sdk/xfbml.customerchat.js';
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<!-- Your customer chat code -->
	<div class="fb-customerchat"
		 attribution=install_email
		 page_id="673776146339397"
		 logged_in_greeting="Oi, eu posso ajudar você!"
		 logged_out_greeting="Oi, eu posso ajudar você!">
	</div>
  	<!-- Bootstrap core JavaScript -->
    <%= javascript_include_tag 'jquery/jquery.min', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'bootstrap/bootstrap.bundle.min', media: 'all', 'data-turbolinks-track' => true %>
  	
</html>