<!DOCTYPE html>
<html lang="pt-BR">

	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="author" content="Igor Felipe Boniatti">
	    <meta name="description" content="Protótipo de website para auxiliar vítimas de violência doméstica e familiar no município de Chapecó.">

	    <%= content_for :title, "Tira-Dúvidas - Projeto Maria da Penha Chapecó" %>		
    	<%= favicon_link_tag 'logo_fundo_preto.png' %>

	    <%= stylesheet_link_tag 'bootstrap/bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
	    <%= stylesheet_link_tag 'home/index', media: 'all', 'data-turbolinks-track' => true %>
	</head>

	<body>
    	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	      <div class="container">
	        <a class="navbar-brand" href="<%= home_path %>">
	          <%= link_to(image_tag("logo_fundo_preto.png", :alt => "logo", :title => "Home"), home_path ) %>
	        </a>
	        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
	          <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse" id="navbarResponsive">
	          <ul class="navbar-nav ml-auto">
	            <li class="nav-item">
	              <a class="nav-link js-scroll-trigger" href="http://www.planalto.gov.br/ccivil_03/_Ato2004-2006/2006/Lei/L11340.htm" target="_blank">A LEI MARIA DA PENHA</a>
	            </li>
	            <li class="nav-item active">
	              <a class="nav-link js-scroll-trigger" href="<%= doubts_path %>">TIRA-DÚVIDAS</a>
	            </li>
	            <li class="nav-item dropdown">
	              <a class="nav-link js-scroll-trigger dropdown-toggle" id="navbarDropdownNews" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="<%= publications_path %>">PUBLICAÇÕES</a>
	              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownNews">
	                <a class="dropdown-item" href="<%= publications_path %>">NOTÍCIAS</a>
	                <a class="dropdown-item" href="<%= compromisso_e_atitude_path %>">COMPROMISSO E ATITUDE</a>
	                <a class="dropdown-item" href="<%= ministerio_publico_path %>">MINISTÉRIO PÚBLICO</a>
	              </div>
	            </li>
	            <li class="nav-item">
	              <a class="nav-link js-scroll-trigger" href="<%= institutes_path %>">REDES DE ATENDIMENTO</a>
	            </li>
	            <li class="nav-item dropdown">
	              <a class="nav-link js-scroll-trigger dropdown-toggle" id="navbarDropdownArchives" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="<%= archives_path %>">LINKS ÚTEIS</a>
	              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownArchives">
	                <a class="dropdown-item" href="<%= archives_path %>">TODOS OS ARQUIVOS</a>
	                <a class="dropdown-item" href="<%= vagas_path %>">VAGAS DE EMPREGO</a>
	                <a class="dropdown-item" href="<%= videos_path %>">VÍDEOS</a>
	              </div>
	            </li>
	            <li class="nav-item dropdown">
	              <a class="nav-link js-scroll-trigger dropdown-toggle" id="navbarDropdownAbout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="<%= about_path %>">SOBRE O PROJETO</a>
	              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownAbout">
	                <a class="dropdown-item" href="<%= about_path %>">SOBRE O WEBSITE</a>
	                <a class="dropdown-item" href="<%= game_path %>">SOBRE O GAME</a>
	              </div>
	            </li>
	          </ul>
	        </div>
	      </div>
	    </nav>

		<header class="bg-primary text-white">
			<div class="container text-center">
				<h1> TIRA-DÚVIDAS </h1>
				<p class="lead"> Denunciar é o primeiro passo para sair da violência doméstica. </p>
			</div>
		</header><p>

	    <div class="container">			

			<% @doubts.each_with_index do |doubt, index| %>

				<div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="card">
						<div class="card-header" role="tab" id="heading<%= doubt.id %>">
							<h5 class="mb-0">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= doubt.id %>" aria-expanded="true" aria-controls="collapse<%= doubt.id %>">
									<%= doubt.question.ask.html_safe %>
								</a>
							</h5>
						</div>

						<% if index == 0 %>

							<div id="collapse<%= doubt.id %>" class="collapse show" role="tabpanel" aria-labelledby="heading<%= doubt.id %>">
								<div class="card-body">
									<%= doubt.answer.html_safe %>
								</div>
							</div>

						<% else %>

							<div id="collapse<%= doubt.id %>" class="collapse" role="tabpanel" aria-labelledby="heading<%= doubt.id %>">
								<div class="card-body">
									<%= doubt.answer.html_safe %>
								</div>
							</div>

						<% end %>

					</div>
				</div>

			<% end %>

	    </div>

		
		<div class="container" style="margin-top: 2%">
			<p id="notice"><%= notice %></p>
			<div class="row">
				<div class="col-lg-8">
					<div class="card my-4">
						<h5 class="card-header">Deixe a sua dúvida:</h5>
						<div class="card-body">
							<%= form_with model: Question.new, url: questions_url , method: :post do |form| %>
								<div class="form-group">
									<%= form.text_area :ask, class: 'form-control', rows: 4 %>
								</div>

								<%= form.hidden_field(:status, value: 0) %>

								<%= form.submit class: 'btn btn-primary btn-xl js-scroll-trigger' %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>

	    <footer class="py-5 bg-dark">
	      <div class="container">
	        <p class="m-0 text-center text-white">
	          Projeto Maria da Penha Chapecó | Desenvolvido por <a href="https://instagram.com/ifboniatti" target="_blank">Igor Felipe Boniatti</a>. &copy; Todos os direitos reservados. 2018.
	        </p>
	      </div>
	    </footer>

  	</body>

	<script>
  		window.fbMessengerPlugins = window.fbMessengerPlugins || {
    			init: function () {
      				FB.init({
        				appId            : '1678638095724206',
        				autoLogAppEvents : true,
        				xfbml            : true,
        				version          : 'v3.0'
      				});
    			}, callable: []
  		};
  		window.fbAsyncInit = window.fbAsyncInit || function () {
    			window.fbMessengerPlugins.callable.forEach(function (item) { item(); });
    			window.fbMessengerPlugins.init();
  		};
  		setTimeout(function () {
    			(function (d, s, id) {
      				var js, fjs = d.getElementsByTagName(s)[0];
      				if (d.getElementById(id)) { return; }
      				js = d.createElement(s);
      				js.id = id;
      				js.src = "//connect.facebook.net/pt_BR/sdk/xfbml.customerchat.js";
      				fjs.parentNode.insertBefore(js, fjs);
    			}(document, 'script', 'facebook-jssdk'));
  		}, 0);
	</script>

	<%= javascript_include_tag 'jquery/jquery.min', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'jquery-easing/jquery.easing.min', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'bootstrap/bootstrap.bundle.min', media: 'all', 'data-turbolinks-track' => true %>

	<%= javascript_include_tag 'about/index', media: 'all', 'data-turbolinks-track' => true %>

</html>