<!DOCTYPE html>
<html lang="pt-BR">

	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta name="author" content="Igor Felipe Boniatti">
	    <meta name="description" content="Protótipo de website para auxiliar vítimas de violência doméstica e familiar no município de Chapecó.">

	    <title>Projeto Game Maria da Penha nas Escolas</title>

	    <%= stylesheet_link_tag 'bootstrap/bootstrap.min', media: 'all', 'data-turbolinks-track' => true %>
	    <%= stylesheet_link_tag 'home/index.min', media: 'all', 'data-turbolinks-track' => true %>
	</head>

	<body style="background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('/assets/game-maria-da-penha-na-escola.png')">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
			<div class="container">
				<a class="navbar-brand" href="http://localhost:3000/home">
					<%= link_to(image_tag ("logo_fundo_preto.png")) %>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="http://localhost:3000/home">INÍCIO</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="http://www.planalto.gov.br/ccivil_03/_Ato2004-2006/2006/Lei/L11340.htm" target="_blank">A LEI MARIA DA PENHA</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="http://localhost:3000/doubts">TIRA-DÙVIDAS</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="http://localhost:3000/publications">PUBLICAÇÕES</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="http://localhost:3000/institutes">REDES DE ATENDIMENTO</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="http://localhost:3000/archives">LINKS ÚTEIS</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link js-scroll-trigger" href="http://localhost:3000/about">SOBRE O PROJETO</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<section>
			<div class="container">
				<div class="row">
					<div class="col-lg-6" style="color:white">
						<h1 class="mt-5">Projeto Game Maria da Penha nas Escolas</h1>
						<p>O grande aumento no índice de violência doméstica e familiar contra a mulher no Brasil e principalmente no estado de Santa Catarina e a falta de métodos ou soluções diversificadas que combatessem esse tipo de violência fez com que surgisse a necessidade por meio da tecnologia de criar meios de não somente buscar o combate, mas de levar o conhecimento sobre a lei 11.340/2006 Maria da Penha a toda comunidade. O desenvolvimento de um protótipo de jogo baseado no Gibi Maria da Penha na Escola, em conjunto com a prefeitura municipal de Chapecó – SC, apresenta uma solução eficaz e promissora para a multiplicação do conhecimento visando o início da aprendizagem sobre a lei Maria da Penha para as crianças. Neste trabalho também consta detalhes da produção do protótipo que é composto por um game runner, história do gibi e um quiz.</p>
						<p> Você pode clicar em um dos botões abaixo para transferir o jogo para seu computador ou para ver o tutorial de instalação. </p>
						<a class="btn btn-primary btn-xl js-scroll-trigger" href="https://drive.google.com/file/d/1V0tzdktGgGyAVriOzQthzm9P64rUx6sd/view?ts=5bdc7006">Baixar o game</a>
						<button type="button" class="btn btn-primary btn-xl js-scroll-trigger" data-toggle="modal" data-target="#Modal">Tutorial</button>

						<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header" >
										<h5 class="modal-title" id="ModalLabel">Tutorial de Instalação</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
									...
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		
 	</body>

  	<%= javascript_include_tag 'jquery/jquery.min', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'bootstrap/bootstrap.bundle.min', media: 'all', 'data-turbolinks-track' => true %>

</html>
